


/*--Colours--*/
body {
    background-color: #808080ba;;
}
/*--logo/title--*/
.logo {
    text-align: center;
    margin-bottom: 40px;
    
}

.favicon{
    color:#f8f9faed;
    padding-left: 10px;
    vertical-align: text-top;
   
}
h1{
    font-size: 2.5rem;
}

.grid-row{
    text-align: center;
}
.grid-container{
    margin-top:30px;
}
.grid-column{
    height: 100px;
    width: 100px;
    display: inline-block;
    background-color: #f8f9faed;
}

/*--buttons/level --*/
.start-button{

    width: 30%;
    position: relative;
    float: right;
    bottom: 15rem;
    right: 7rem;
}
.reset-button{
    
    position: relative;
    bottom: 15rem;
    text-align: center;
}
    /*visibility:hidden;(visibility will be hidden at first only to be shown when player fails or want to start again)*/
}
.level-div{
    text-align:center;
    font-size: 1.5rem;
    position: relative;
    font-weight:bold;

}

/*--instruction box--*/
.instruction-container p {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
.instruction-container{
    position: relative;
    /* visibility: hidden; then make visible at start of game */
    border-style: solid;
    border-color:  #634d777a;
    bottom: 17rem;
}
.instruction-container span {
    font-weight: 600;
    text-align: center;
}

/*--Game responsiveness--*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
.grid-column{
        width: 60px;
        height: 70px;
    }
 .instruction-container {
    bottom: 15rem;
}
}



@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
.instruction-container{
    width: 70%;
    left: 7.5rem;
    }
}

@media only screen  and (min-width : 1224px) {
    .instruction-container{
    width: 70%;
    left: 13.5rem;
    }
}




