


/*--Colours--*/
body {
    background-color: #808080ba;;
}

.instruction-container {
    background-color: #db7093;
}


/*--logo/title--*/
#game-title {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 30px;
    
}


#logo {
    width: 100%;
    color: #f8f9faed;
    padding-left: 10px;
    position: relative;
    font-size: 4rem;
    float: left;
    padding-right:10rem;
    text-align: end;
   
}

h1{
    font-size: 2.5rem;
}

.grid-row{
    text-align: center;
}
.grid-container{
    margin-top:30px;
}
.grid-column{
    height: 100px;
    width: 100px;
    display: inline-block;
    background-color: #f8f9faed;
}

/*--buttons/level --*/
.start-button{

    
    position: relative;
    bottom: 15rem;
   text-align: center;
}
.reset-button{
    
    position: relative;
    bottom: 15rem;
    text-align: center;
    visibility: hidden;
}
    /*visibility:hidden;(visibility will be hidden at first only to be shown when player fails or want to start again)*/

.level-div{
    text-align:center;
    font-size: 1.5rem;
    position: relative;
    font-weight:bold;
    visibility: hidden;


}

/*--instruction box--*/

.instruction-container p {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
.instruction-container{
    position: fixed;
    border-style: solid;
    border-color: #634d7763;
    bottom: 17rem;
    height: 40vh;
}
.instruction-container span {
    font-weight: 600;
    text-align: center;
}
/*-- css added in js --*/
.visibility{
    visibility: hidden;
}

/*--Game responsiveness--*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
.grid-column{
        width: 60px;
        height: 70px;
    }
 .instruction-container {
    bottom: 30%;
}
}



@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
.instruction-container{
    width: 70%;
    left: 7.5rem;
    bottom: 35%;
    }
}

@media only screen  and (min-width : 1224px) {
    .instruction-container{
    width: 70%;
    left: 13.5rem;
    height: 30vh;
    bottom: 50%;
    }
    

}




